aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
appdirs==1.4.4
arrow==1.4.0
asttokens==3.0.1
attrs==25.4.0
binaryornot==0.4.4
build==1.4.0
cachetools==7.0.0
certifi==2026.1.4
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
click-default-group==1.2.4
cookiecutter==2.6.0
decorator==5.2.1
dynaconf==3.2.12
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.128.1
fsspec==2026.1.0
gitdb==4.0.12
GitPython==3.1.46
h11==0.16.0
httptools==0.7.1
idna==3.11
ipython==8.38.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
kedro==1.2.0
kedro-telemetry==0.7.0
kedro-viz==12.3.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
more-itertools==10.8.0
narwhals==2.16.0
networkx==3.4.2
numpy==2.2.6
omegaconf==2.3.0
orjson==3.11.7
packaging==26.0
pandas==2.3.3
parse==1.20.2
parso==0.8.5
pathspec==1.0.4
pexpect==4.9.0
plotly==6.5.2
pluggy==1.6.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==23.0.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rich==14.3.2
scikit-learn==1.7.2
scipy==1.15.3
secure==1.0.1
six==1.17.0
smmap==5.0.2
stack-data==0.6.3
starlette==0.50.0
text-unidecode==1.3
threadpoolctl==3.6.0
tomli==2.4.0
tomli_w==1.2.0
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.5.3
websockets==16.0
Werkzeug==3.1.5
